<a href="https://colab.research.google.com/github/edgarcito200/Programacion-buena/blob/main/proves1_eo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dies_de_la_setmana=7
print (dies_de_la_setmana)

7

Un fabricant ven 48 cuines a 93 € una. Cobra 37 euros pel transport. Quant haurà cobrat en total?

In [ ]:
numero_cuines=48
preu_per_cuina=93
cost_transport=37
total_cuines=numero_cuines*preu_per_cuina
total_amb_transport=total_cuines+cost_transport
print ('el fabricant haurà cobrat un total de',total_amb_transport)

el fabricant haurà cobrat un total de 4501

In [ ]:

guardiola1 = 120
guardiola2 = 215
guardiola3 = 163
total_euros = guardiola1 + guardiola2 + guardiola3
num_personas = 6
euros_por_persona = total_euros / num_personas
print (f'El total de euros es:',total_euros)
print ("El total de euros es:",total_euros)
print ('El total de euros es:',total_euros)

El total de euros es: 498
El total de euros es: 498
El total de euros es: 498

In [ ]:
pes_pallasso = 112
pes_nina = 75
num_pallassos = int(input("Introdueix el nombre de pallassos venuts: "))
num_nines = int(input("Introdueix el nombre de nines venudes: "))
pes_total = (num_pallassos * pes_pallasso) + (num_nines * pes_nina)
preu_total = float(input("Introdueix el preu total de la comanda: "))
print("\nResum de la comanda:")
print(f"Nombre de pallassos: {num_pallassos}")
print(f"Nombre de nines: {num_nines}")
print(f"Pes total de la comanda: {pes_total} grams")
print(f"Preu total de la comanda: {preu_total:.2f} €")